.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.announcement-bar .announcement marquee {
  width: 10%;
  white-space: nowrap;
}

.announcement-bar {
  background-color: #262626; /* Instagram dark theme color */
}

.announcement-bar .announcement {
  font-family: 'Dosis', sans-serif; /* Apply Dosis font */
  color: white; /* Set text color to white */
}

.announcement-bar .announcement {
  font-weight: 500;
}

